@charset "utf-8";
/* CSS Document */

.secuencia_tituloInteractivo
{
	color:white;
	display:inline-block;
	margin:0;
	font-size:2em;
	line-height:30px;
}
.secuencia_imagenInteractivo
{
	width:96%;
	padding:2%;
	text-align:center;
}
.secuencia_secuencia_titulo
{
	width:96%;
	height:auto;
	/*min-height:100px;*/
	padding:2%;
	
	background-color:#45b29d;
}
.secuencia_secuencia_grafico
{
	width:250px;
	height:auto;
	float:left;
	background-color:white;
	margin:0 25px;
}
.secuencia_secuencia_flecha
{
	width:65px;
	height:inherit;

	float:left;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
	
	background-image:url(../../../skins/M_GGA/img/flecha_derecha.png);
}
.secuencia_internoContenido
{
	width:100%;/*1459px*/
	padding:20px;
	height:auto;
	min-height:50px;
}
.secuencia_ajuste
{
	width:100%;
	height:1px;
	clear:both;
}